* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

/* Main Nav Bar */

.main-nav-bar {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

li {
    display: inline-block;
    padding: 0px 20px;
}

input {
    border: none;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease 0s;
    font-family: "Alata", sans-serif;
}

a:hover {
    border-bottom: solid 3px;
    border-bottom-color: #2577fe;
}

.main-options {
    display: flex;
}

.wrapper-box {
    padding: 0px 30px;
}

.wrapper-box.bcg {
    background-color: #fff;
    height: 20px;
    border-radius: 40px;
    border: 1px solid lightgray;
    padding: 10px;
}

.logo,
.search-products-button,
.nav-options-button,
.signin-button:hover {
    cursor: pointer;
}

.search-products-button {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    font-size: 16px;
}

.nav-options-button {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    font-size: 16px;
}

.signin-button {
    padding: 13px 33px;
    border-radius: 40px;
    background-color: #2577fe;
    color: #fff;
    border: none;
    transition: all 0.3s ease 0s;
}

.signin-button:hover {
    background-color: #1d60ca;
}

/* Hero Section */

.hero-wrapper {
    background-image: url(../img/hero/h1_hero.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.hero-info {
    margin-bottom: 100px;
    margin-left: 50px;
}

.line_1 {
    font-family: "Dancing Script", cursive;
    font-size: 30px;
    color: #2577fe;
}

.line_2 {
    font-family: "Playfair Display", serif;
    font-size: 90px;
}

.line_3 {
    font-family: "Dancing Script", cursive;
    font-size: 25px;
}

.shop_now {
    padding: 13px 33px;
    border-radius: 40px;
    background-color: #2577fe;
    color: #fff;
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    font-size: large;
    margin-top: 45px;
}

.shop_now:hover {
    background-color: #1d60ca;
}

/* Shop By Category */

.category {
    text-align: center;
    margin-top: 200px;
}

.sbc {
    font-family: "Playfair Display", serif;
    font-size: 35px;
}

.category-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    overflow-wrap: normal;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

.category-item {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.category-item.image1,
.category-item.image2,
.category-item.image3 {
    transition: all 0.3s ease 0s;
    margin: 0 10px;
}

.category-item.image1:hover,
.category-item.image2:hover,
.category-item.image3:hover {
    opacity: 0.7;
    cursor: pointer;
}

.cat1,
.cat2,
.cat3 {
    width: 430px;
}

.category_header1 {
    font-family: "Playfair Display", serif;
    font-size: 30px;
    margin-bottom: 5px;
}

.yellow_button1 {
    background-color: #fece24;
    font-size: small;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.new_collection_first {
    font-family: "Dancing Script", cursive;
    color: #2577fe;
    font-size: 25px;
}

.category_header1,
.yellow_button1,
.new_collection_first {
    position: relative;
    left: 6rem;
    bottom: 12rem;
}

.category_header2 {
    font-family: "Playfair Display", serif;
    font-size: 30px;
    margin-bottom: 5px;
}

.new_collection_second {
    font-family: "Dancing Script", cursive;
    color: #2577fe;
    font-size: 25px;
}

.new_collection2 {
    font-family: "Alata", sans-serif;
}

.category_header2,
.new_collection2,
.new_collection_second {
    position: relative;
    left: 6rem;
    bottom: 12rem;
}

.category_header3 {
    font-family: "Playfair Display", serif;
    font-size: 30px;
    margin-bottom: 5px;
}

.yellow_button3 {
    background-color: #fece24;
    font-size: small;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.new_collection_third {
    font-family: "Dancing Script", cursive;
    color: #2577fe;
    font-size: 25px;
}

.category_header3,
.yellow_button3,
.new_collection_third {
    position: relative;
    left: 6rem;
    bottom: 12rem;
}

/* Latest Products */
div.latest-products {
    width: 60%;
    margin: 0 auto;
}

div.latest-products-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 4rem;
    margin-bottom: 1rem;

}

div.latest-products-header>h3 {
    position: relative;
    right: 4rem;
    font-family: "Playfair Display", serif;
    font-size: 35px;
}

div.latest-products-nav-bar {
    position: relative;
    left: 3rem;
    font-family: "Alata", sans-serif;
    color: lightgray;
}

div.latest-products-nav-bar>ul>li {
    padding: 0 12px;
}

div.latest-products-nav-bar>ul>li:hover {
    cursor: pointer;
    color: red;
}

div.latest-products-nav-bar>ul>li:first-child {
    color: red;
}

div.latest-products-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 4rem;
}

div.latest-products-content>div.latest-products-content-item>div.latest-products-img-wrapper>img {
    height: 60%;
    width: 60%;
}

/* Find the Best Product */

div.best-products {
    display: flex;
    background-image: url(../img/categories/card.png);
    height: 60vh;
    width: 93vw;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 60px;
}

.best-products-info {
    padding-top: 30px;
}

h3.ftbp {
    font-family: "Playfair Display", serif;
    font-size: 50px;
    padding: 0;
    margin: 0;
}

.designer {
    font-family: "Alata", sans-serif;
    margin: 13px 0 30px 0;
}

.shop_now2 {
    padding: 13px 40px;
    border-radius: 40px;
    background-color: black;
    color: #fff;
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    font-size: large;
    margin-top: 45px;
}

.shop_now2:hover {
    background-color: rgb(63, 60, 60);
}

.best-products-img-shape {
    opacity: 0.7;
    padding-top: 300px;
    padding-left: 300px;
}